<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.try(:name) %></h1>
    <p>
     Process you enqueued for completion has sucessfully completed.<br/>
    </p>
    <p>
      To login to the site, just follow this link:  http://localhost:3000
    </p>
    <p>Hope you'll like it!</p>
  </body>
</html>
